<h1>Bienvenido a la Pagina Oficial de Ns</h1>
<iframe width="600" height="430" src="//www.cincopa.com/media-platform/iframe.aspx?fid=AcBAF7rXVcOy" frameborder="0" allowfullscreen scrolling="no"></iframe><noscript><span>Aptos</span><span>Apartamentos con el Mejor Precio</span><span>height</span><span> 225</span><span>width</span><span> 300</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>Apartamentos con el Mejor Precio</span><span>height</span><span> 375</span><span>width</span><span> 500</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>Apartamentos con el Mejor Precio</span><span>height</span><span> 375</span><span>width</span><span> 500</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>Apartamentos con el Mejor Precio</span><span>height</span><span> 460</span><span>width</span><span> 840</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span></noscript>

<iframe width="600" height="430" src="//www.cincopa.com/media-platform/iframe.aspx?fid=AMLAr4b6VQQz" frameborder="0" allowfullscreen scrolling="no"></iframe><noscript><span>Hostal</span><span>El Mejor Hostal De Medellín</span><span>height</span><span> 302</span><span>width</span><span> 403</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>El Mejor Hostal De Medellín</span><span>height</span><span> 484</span><span>width</span><span> 640</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>El Mejor Hostal De Medellín</span><span>height</span><span> 460</span><span>width</span><span> 840</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>El Mejor Hostal De Medellín</span><span>height</span><span> 463</span><span>width</span><span> 640</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span></noscript>


<p>Calendario de reservas y galerias de apartamentos y del hostal</p>
<div class="aptoHome">
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @apartments.each do |apartment| %>
          <th><%= image_tag apartment.image.url(:thumb) %><%= apartment.amenities %><br><%= link_to "ver", apartment_path(apartment), :class => "btn btn-success btn-xs"%></th>
      <% end %>
    </tbody>
  </table>
</div>