<div class="jumbotron">
  <h1>Reservas</h1>
  <p>
    Encuentre en NsApártamentos, Apartamentos y Hostales para arrendar en varias partes de Medellin. Vea sus características internas y sector donde se encuentra ubicado. 
  </p>
  <p>El cliente puede cancelar la reserva siempre y cuando se encuentre en el plazo estipulado por la empresa (7 Días antes de que se haga efectiva la reserva).</p>
  <p>
  <a class="btn btn-primary btn-lg"><%= link_to 'Nueva Reserva', new_reserva_path %></a></p>
</div>


