<!doctype html>
	<html lang="es">
	<head>
		
	</head>
	<body> 
		<div class="jumbotron">
		  <h1>Información:</h1>
		 <P>Se arriendan apartamentos amoblados ubicados varios sectores de la ciudad de medellín. Tenemos apartamentos de 1,2 o 3 habitaciones y adecuados para alojar desde 1 a 6 o mas personas. Dependiendo de las necesidades cada persona. Se arrienda por días, semanas o temporadas; como son la feria internacional del tango, colombia moda, feria de las flores, alumbrados navideños, entre otras.Para mayor información:cesar augusto sucerquia.Email: amoblados2@centralchat.Com.Cocelular: 321 813 57 39</P> 
		  <p><a class="btn btn-primary btn-lg">Mas información</a></p>
		</div>
	</body>	


</html>