<h1 class="alert alert-info">Editar</h1>

<%= render 'form' %>

<%= link_to 'Ver', @reservations, class: "btn btn-default btn-xs" %> 
<%= link_to 'Atras', reservations_path, class: "btn btn-default btn-xs" %>