<%= form_for(@mas_informacion) do |f| %>
  <% if @mas_informacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mas_informacion.errors.count, "error") %> prohibited this mas_informacion from being saved:</h2>

      <ul>
      <% @mas_informacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
