<div class="jumbotron">
  <h1>Más Informacion</h1>
    <tbody>
         <div>
            <h5>Datos de la empresa:</h5>
                <TABLE>
                  <TR>
                    <TD> Ciudad: </TD>
                    <TD> Medellin </TD>
                  </TR>
                  <TR>
                    <TD> Dirección: </TD>
                    <TD> transversal 39B # 39-179 </TD>
                  </TR>
                  <TR>
                    <TD> País: </TD>
                    <TD>Colombia </TD>
                  </TR>
                  <TR>
                    <TD> Persona de Contacto: </TD>
                    <TD> Cesar Augusto Sucerquia </TD>
                  </TR>
                  <TR>
                    <TD>Cel / Fax:</TD>
                    <TD> 3218135739 </TD>
                      
                  </TR>
                </TABLE>
              <br>
              <br>
              <div class="panel panel-warning">
                  <div class="panel-heading">
                      <h3 class="panel-title">Si desea más Informacion deje su comentario:</h3>
                  </div>
                  <div class="panel-body">
                       <form>
                        <p>Ingrese nombre:</p>
                        <input type="text" id="nombre"><br>
                        <p>Ingrese mail:</p>
                        <input type="text" id="mail" requeri><br>
                        <p>Comentarios:</p><br>
                        <textarea id="comentarios" rows="10" cols="50"></textarea><br>
                        <input type="button" value="confirmar" >
                      </form>
                  </div>
              </div>
              
           </div>
    </tbody>
</div>


