<div class="login">
	<h1>Bienvenido A Homas</h1>
	<p>Por Favor Ingrese Sus Datos de Usuario</p>
	 
	<%= render 'form' %> 
	 <div class="boton">
		<%= link_to 'Inicio', root_path ,class: "btn btn-primary btn-xs"%> 
	</div>
</div>
