<footer class="footer">
  <small>
    By Paola Montes, Diana Taborda Todos los derechos reservados © 2014 ::.
  </small>
  <nav>
    <ul>
      <li><a href="#">Intranet</a></li>
    </ul>
  </nav>
</footer>