<footer class="footer">
  <small>
    By Diana Taborda, Paola Montes Todos los derechos reservados © 2014 ::.
  </small>
  <nav>
    <ul>
      <li><a href="#">Intranet</a></li>
    </ul>
  </nav>
</footer>