<%# navigation styled for Bootstrap 3.0 %>

<nav class="navbar navbar-default1">
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="sr-only">Toggle navigation</span>
      </button>

    </div>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <%= render 'layouts/navigation_links' %>
    </ul>
  </div>
</div>

<!--<img class="img" scr="assets/images/logo.png">-->
</nav>