<%# add navigation links to this file %>
<<<<<<< HEAD
=======

<li><%= link_to "Nosotros", mas_informacions_path %></li>
<li><%= link_to "Sitios de Interes", sitios_path %></li>


>>>>>>> 23b631af6121230684c594c7a96b41534b118d58
